

<RadzenTreeItem Value="category" Expanded="true">
    <Template>
        <div style="display:block">
            <div><strong>@((context.Value as Category).Name) </strong></div>
            <div style="display:flex">
                <div>@((context.Value as Category).Description) | </div>
                <div>@((context.Value as Category).EatInVat) TVA sur place | @((context.Value as Category).TakeAwayVat) TVA à emporter</div>
            </div>            
        </div>
    </Template>
    <ChildContent>
        @foreach (var child in category.Childs)
        {
            <ChildCategoryTree category="child" />
        }
    </ChildContent>
</RadzenTreeItem>




@code {

    [Parameter]
    public Category category { get; set; }

    protected override void OnInitialized()
    {

    }

}
