@page "/counter"

@*Table*@
<div>

</div>

@*AddModify*@
<div>

</div>
<MatButton @onclick="(() => Modal.Open())">Ouvrir modal</MatButton>
<MatButton @onclick="(() => IsSliderOpen = true)">Ouvrir slider</MatButton>


<FtSlider IsOpen="IsSliderOpen">
    <FtSliderContent>
        <p>Test</p>
    </FtSliderContent>
</FtSlider>


<FtModal @ref="Modal">
    <MatAutocompleteList Items="@Ingres" TItem="Ingredient" ValueChanged="SelectionChanged" Label="Pick one"></MatAutocompleteList>

    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Personal data</MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader>Type your name and age</MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatStringField Label="First name"></MatStringField>
            <MatStringField Label="Age"></MatStringField>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>

</FtModal>


@code
        {

    string[] options = new[]
    {
                "One",
                "Two",
                "Three"
            };

}



@code {

    private FtModal Modal { get; set; }
    private FtModal Modal2 { get; set; }


    bool IsSliderOpen = false;
    bool Opened = true;

    void ButtonClicked()
    {
        Opened = !Opened;
    }


    Ingredient selectedIngre;

    List<Ingredient> Ingres = new List<Ingredient>();

    protected override void OnInitialized()
    {
        //Load tags
        //        Ingres = new List<Ingredient>()
        //{
        //            new Ingredient(){Id = Guid.NewGuid(), Name="Test 1"},
        //            new Ingredient(){Id = Guid.NewGuid(), Name="Azerty 2"},
        //            new Ingredient(){Id = Guid.NewGuid(), Name="Truc de fou 3"},
        //            new Ingredient(){Id = Guid.NewGuid(), Name="Pomme de t erre 4"}
        //        };
    }

    void SelectionChanged(Ingredient val)
    {
        selectedIngre = val;

    }

}















@*@page "/counter"



    <MatAutocompleteList Items="@Ingres" TItem="Ingre" ValueChanged="SelectionChanged" Label="Pick one"></MatAutocompleteList>

    @code
            {

        string[] options = new[]
        {
                    "One",
                    "Two",
                    "Three"
                };

    }



    @code {

        bool Opened = true;

        void ButtonClicked()
        {
            Opened = !Opened;
        }

        public class Ingre
        {
            public Guid Id { get; set; }

            public string Name { get; set; }

            public override string ToString()
            {
                return Name;
            }
        }

        Ingre selectedIngre;

        List<Ingre> Ingres = new List<Ingre>();

        protected override void OnInitialized()
        {
            //Load tags
            Ingres = new List<Ingre>()
    {
                new Ingre(){Id = Guid.NewGuid(), Name="Test 1"},
                new Ingre(){Id = Guid.NewGuid(), Name="Azerty 2"},
                new Ingre(){Id = Guid.NewGuid(), Name="Truc de fou 3"},
                new Ingre(){Id = Guid.NewGuid(), Name="Pomme de t erre 4"}
            };
        }

        void SelectionChanged(Ingre val)
        {
            selectedIngre = val;

        }

    }*@
